aiofiles==23.2.1
aiogram==3.6.0
aiohttp==3.9.5
aiohttp-socks==0.8.4
aiosignal==1.3.1
altair==5.3.0
aniso8601==9.0.1
annotated-types==0.7.0
anyascii==0.3.2
anyio==4.4.0
argilla==0.0.1
asgiref==3.8.1
async-timeout==4.0.3
attrs==23.2.0
backoff==2.2.1
bcrypt==4.1.3
beautifulsoup4==4.12.3
bleach==4.1.0
blinker==1.8.2
bottle==0.12.25
Brotli==1.1.0
browser-cookie3==0.19.1
build==1.2.1
cachetools==5.3.3
cairocffi==1.7.0
CairoSVG==2.7.1
certifi==2024.6.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
chroma-hnswlib==0.7.3
chromadb==0.5.0
click==8.1.7
coloredlogs==15.0.1
cryptography==42.0.8
cssselect2==0.7.0
curl_cffi==0.6.4
dataclasses-json==0.6.7
deepdiff==7.0.1
defusedxml==0.7.1
Deprecated==1.2.14
distro==1.9.0
Django==5.0.6
django-botmanager==0.2.21
django-countries==7.6.1
django-debug-toolbar==4.4.2
django-filter==24.2
django-modelcluster==6.3
django-permissionedforms==0.1
django-taggit==5.0.1
django-treebeard==4.7.1
djangorestframework==3.15.1
dnspython==2.6.1
draftjs-exporter==5.0.0
duckduckgo_search==6.1.6
email_validator==2.1.1
emoji==2.12.1
envparse==0.2.0
et-xmlfile==1.1.0
exceptiongroup==1.2.1
fastapi==0.111.0
fastapi-cli==0.0.4
filelock==3.14.0
filetype==1.2.0
Flask==3.0.3
flatbuffers==24.3.25
frozenlist==1.4.1
fsspec==2024.6.0
g4f==0.3.2.0
gitdb==4.0.11
GitPython==3.1.43
google-auth==2.30.0
googleapis-common-protos==1.63.1
graphene==3.3
graphene-django==3.2.1
graphql-core==3.2.3
graphql-relay==3.2.0
greenlet==3.0.3
grpcio==1.64.1
h11==0.14.0
h2==4.1.0
hpack==4.0.0
html2text==2024.2.26
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.23.3
humanfriendly==10.0
hyperframe==6.0.1
idna==3.7
importlib_metadata==7.1.0
importlib_resources==6.4.0
itsdangerous==2.2.0
jeepney==0.8.0
Jinja2==3.1.4
joblib==1.4.2
jsonfield==3.1.0
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==3.0.0
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
kaitaistruct==0.10
kubernetes==30.1.0
l18n==2021.3
laces==0.1.1
langchain==0.2.0
langchain-community==0.2.0
langchain-core==0.2.5
langchain-text-splitters==0.2.1
langdetect==1.0.9
langsmith==0.1.76
loguru==0.7.2
lxml==5.2.2
lz4==4.3.3
magic-filter==1.0.12
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.3
mdurl==0.1.2
mmh3==4.1.0
monotonic==1.6
mpmath==1.3.0
msg-parser==1.2.0
mss==9.0.1
multidict==6.0.5
mypy-extensions==1.0.0
nest-asyncio==1.6.0
nltk==3.8.1
nodriver==0.29rc2
numpy==1.26.4
oauthlib==3.2.2
olefile==0.47
onnxruntime==1.18.0
openai==1.33.0
openpyxl==3.1.3
opentelemetry-api==1.25.0
opentelemetry-exporter-otlp-proto-common==1.25.0
opentelemetry-exporter-otlp-proto-grpc==1.25.0
opentelemetry-instrumentation==0.46b0
opentelemetry-instrumentation-asgi==0.46b0
opentelemetry-instrumentation-fastapi==0.46b0
opentelemetry-proto==1.25.0
opentelemetry-sdk==1.25.0
opentelemetry-semantic-conventions==0.46b0
opentelemetry-util-http==0.46b0
ordered-set==4.1.0
orjson==3.10.4
outcome==1.3.0.post0
overrides==7.7.0
packaging==23.2
pandas==2.2.2
pdf2image==1.17.0
pdfminer.six==20231228
pillow==10.3.0
pillow_heif==0.16.0
platformdirs==4.2.2
plyer==2.1.0
posthog==3.5.0
promise==2.3
protobuf==4.25.3
proxy-tools==0.1.0
psutil==5.8.0
psycopg2-binary==2.9.9
pyarrow==16.1.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pycryptodome==3.20.0
pycryptodomex==3.20.0
pydantic==2.7.3
pydantic-settings==2.2.1
pydantic_core==2.18.4
pydeck==0.9.1
PyExecJS==1.5.1
Pygments==2.18.0
pyOpenSSL==24.1.0
pypandoc==1.13
pyparsing==3.1.2
pypdf==4.2.0
PyPika==0.48.9
pyproject_hooks==1.1.0
pyreqwest_impersonate==0.4.7
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
python-iso639==2024.4.27
python-magic==0.4.27
python-multipart==0.0.9
python-pptx==0.6.23
python-socks==2.4.4
pytz==2024.1
pywebview==5.1
PyYAML==6.0.1
rapidfuzz==3.9.3
redis==5.0.6
referencing==0.35.1
regex==2024.5.15
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==13.7.1
rpds-py==0.18.1
rsa==4.9
selenium==4.21.0
selenium-wire==5.1.0
setproctitle==1.1.10
shellingham==1.5.4
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
SQLAlchemy==2.0.30
sqlparse==0.5.0
starlette==0.37.2
sympy==1.12.1
tabulate==0.9.0
telepath==0.3.1
tenacity==8.3.0
text-unidecode==1.3
tiktoken==0.7.0
tinycss2==1.3.0
tokenizers==0.19.1
toml==0.10.2
tomli==2.0.1
toolz==0.12.1
tornado==6.4.1
tqdm==4.66.4
trio==0.25.1
trio-websocket==0.11.1
typer==0.12.3
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
ujson==5.10.0
undetected-chromedriver==3.5.5
unstructured==0.7.12
unstructured-client==0.23.3
urllib3==2.2.1
uuid==1.30
uvicorn==0.30.1
uvloop==0.19.0
wagtail==6.1.2
wagtail-color-panel==1.5.0
wagtail-markdown==0.12.1
watchdog==4.0.1
watchfiles==0.22.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.0.3
Willow==1.8.0
wrapt==1.16.0
wsproto==1.2.0
xlrd==2.0.1
XlsxWriter==3.2.0
yarl==1.9.4
zipp==3.19.2
zstandard==0.22.0
