@media screen and (min-width: 50em) {
    .listing td, .listing th {
        padding: calc(0.2em * var(--w-density-factor)) 1em;
    }
}

.listing td {
    font-size: 0.8rem;
}

.w-panel {
    --header-gap: 0;
    margin-bottom: calc(-1rem + 1.25rem * var(--w-density-factor));
}